.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.info_frame {
  display: flex;
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  background-color: gray;
  height: 20px;
}